.blueBG {
  background-color: #506296;
}

.greenBG {
  background-color: #2ea113;
}

.orangeBG {
  background-color: #ff7733;
}

.yellowBG {
  background-color: #edb458;
}

.redBG {
  background-color: #990000;
}
